@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.cardWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .imageWrapper {
    overflow: hidden;
    border: 1px solid $primary-color;
    position: relative;
    height: 200px;
    max-height: 100%;
    border-radius: 8px;
  }

  .detailsWrapper {
    margin-top: 30px;
    background-color: #fff;

    .priceWrapper {
      display: flex;
      align-items: baseline;
      
      font-weight: bold;
      color: $primary-color;

      .price {
        font-size: 20px;
        margin: 0px 6px;

        &.notAvailable {
          margin: 0px;
        }
      }

      .currency {
        font-size: 14px;
      }
    }

    .productName {
      margin: 16px 0 19px;
      font-size: 18px;
      font-weight: bold;
      flex: 1;
    }

    .advertisorChip {
      border: none;
      color: $grey;
      
      svg {
        color: $grey;
      }
    }

    .tagsWrapper {
      display: flex;
      align-items: center;
      gap: 1%;
      flex-wrap: wrap;

      .cardTag {
        @include lightPrimaryBtn;

        margin-bottom: 5px;
      }
    }
  }

  &.row {
    .imageWrapper {
      height: 100%;
    }

    .detailsWrapper {
      margin-top: 0;
      border: 1px solid $light-primary-color;
      border-radius: 8px;
      padding: 10px 20px;
    }
  }

  @media (max-width: 599px) {
    &.row {
      .imageWrapper {
        height: 200px;
      }
    }
  }
}