@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.cardWrapper {
  .imageAndActionsWrapper {
    overflow: hidden;
    border: 1px solid $primary-color;
    position: relative;
    height: 200px;
    border-radius: 10px;

    .actionsWrapper {
      padding: 15px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background-color: rgba(0,0,0, .5);
      transition: all .3s ease-in-out;
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .favorite {
        transition: all .3s ease-in-out;
        transform: translateY(-100%);
      }

      .externalActionsWrapper {
        width: 100%;
        transition: all .3s ease-in-out;
        transform: translateY(100%);

        .addToBasketBtn {
          @include whiteBtn;
        }

        &.advertisementMode {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 3%;

          .chatBtn,
          .callBtn {
            margin-bottom: 5px
          }

          .chatBtn {
            @include whiteBtn;

            flex-grow: .9999;
          }          
          
          .callBtn {
            font-size: 15px;
            font-weight: bold;
            flex-grow: 1;
          }
        }
      }
    } 

    &:hover {
      .actionsWrapper {
        opacity: 1;

        .favorite,
        .externalActionsWrapper {
          transform: unset;
        }
      }
    }
  }

}