@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import './variables';
@import './mixins';
@import './packages-overrides';

@font-face {
  font-family: 'din-bold';
  src: url('/fonts/DINNextLTArabic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap
}

@font-face {
  font-family: 'din-heavy';
  src: url('/fonts/DINNextLTArabic-Heavy.ttf') format('truetype');
  font-display: swap
}

@font-face {
  font-family: 'din-medium';
  src: url('/fonts/DINNextLTArabic-Medium.ttf') format('truetype');
  font-display: swap
}

@font-face {
  font-family: 'din-regular';
  src: url('/fonts/DINNextLTArabic-Regular.ttf') format('truetype');
  font-display: swap
}

@font-face {
  font-family: 'din-light';
  src: url('/fonts/DINNEXTLTARABIC-LIGHT.ttf') format('truetype');
  font-display: swap
}

@font-face {
  font-family: 'din-ultra-light';
  src: url('/fonts/DINNextLTArabic-UltraLight.ttf') format('truetype');
  font-display: swap
}

* {
  font-family: $regular-font
}

body {
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: black;
}

.enabled-breadcrumb,
.disabled-breadcrumb {
  color: #fff;
  font-size: 16px;
}

.enabled-breadcrumb {
  opacity: .7
}

.form-errors-wrapper {
  margin: 0;
}

.dialog-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;

  .action {
    margin-top: 10px;
    font-size: 16px;
    font-family: $medium-font;
  }
}

.base-helper-text {
  font-family: din-regular,Roboto,Arial;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  text-align: right;
  margin-top: 3px;
  margin-left: 14px;
  margin-bottom: 0;
  margin-right: 14px;
  color: red;
}

.light-primary-color {
  font-family: $medium-font;
  background-color: $light-primary-color;
  border: 1px solid $light-primary-color;
}