@mixin whiteBtn {
  color: #fff;
  border-color: #fff;
  background-color: rgba(255,255,255, .2);
  font-weight: bold;
  font-size: 15px;
}

@mixin lightPrimaryBtn {
  color: $light-secondary-color;
  border-color: $light-primary-color;
  background-color: $light-primary-color;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}