.image-gallery {
  .base-thumbnail {
    border-radius: 10px;
  }

  .base-previewed-image {
    .image-gallery-image {
      border-radius: 10px;
    }
  }

  .image-gallery-thumbnail.active, 
  .image-gallery-thumbnail:focus,
  .image-gallery-thumbnail:hover {
    border-color: #b6955a
  }

  .image-gallery-thumbnail-inner {
    border-radius: 6px;
    .image-gallery-thumbnail-image {
      border-radius: 6px;
    }
  }

  .image-gallery-icon:focus {
    outline: none 
  }
}

// MUI
.MuiAutocomplete-listbox  {
  &::-webkit-scrollbar {
    width: 10px;
  }
   
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $secondary-color;
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 10px;
  }
}

// React-slick
.slick-slider {
  .slick-slide {
    & > div {
      margin: 10px
    }
  }

  .slick-dots {
    li {
      width: 30px;
      height: 3px;
      border-radius: 5px;
      background-color: #e1e1e1;

      &.slick-active {
        background-color: $secondary-color;
      }
    }
  }
}

@media (max-width: 355px) {
  .slick-slider {
    .slick-dots {
      li {
        width: 20px;
      }
    }
  }
}