@import 'src/styles/variables.scss';

.menuTrigger {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.75;
  color: #000;

  &.primary {
    color: $primary-color
  }
}

.menu {
  padding: 0;
  .menuLink {
    text-decoration: none;

    .menuItem {
      padding: 10px 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.75;
      color: #000;

      .suffix {
        width: 40px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        font-size: 12px;
        color: $primary-color;
        background-color: $light-primary-color;
      }
    }
    
    &:not(:last-of-type) {
      .menuItem {
        border-bottom: 1px solid #eee;
      }
    }
  }
}
