@import 'src/styles/variables.scss';

.content {
  padding: 80px 0;

  .formWrapper {
    max-width: 774px;
    margin: 0 auto;

    .submitButton{
      color: #fff;
      font-family: $medium-font;
      font-weight: normal;
      font-size: 16px;
    }

    .prefix {
      font-size: 16px;

      .suffix {
        margin: 0 5px;
        color: $primary-color;
        font-family: $medium-font;

        &.resend {
          cursor: pointer;
        }

        &.counting {
          color: $grey
        }
      }
    }

    .formTitle {
      margin-top: 0;
      margin-bottom: 24px;
      font-size: 20px;
      font-family: $heavy-font;
    }

    .formSubTitle {
      font-size: 16px;
      margin: 0 5px;
      color: $light-grey;


      &.phone {
        color: $primary-color
      }
    }

  }
}

.dialogActions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;

  .action {
    margin-top: 10px;
    font-size: 16px;
    font-family: $medium-font;
  }
}
