@import 'src/styles/variables.scss';

.content {
  padding: 80px 0;

  .formWrapper {
    max-width: 774px;
    margin: 0 auto;

    .rememberMe,
    .submitButton,
    .forgotPassword {
      font-weight: normal;
      font-size: 16px;
      color: $secondary-color;
      // font-family: $medium-font
    }

    .submitButton {
      color: #fff;
      font-family: $medium-font
    }

    .prefix {
      font-size: 16px;

      .suffix {
        margin: 0 5px;
        color: $primary-color;
        font-family: $medium-font;

        &.resend {
          cursor: pointer;
        }

        &.counting {
          color: $grey
        }
      }
    }

    .formTitle {
      margin-top: 0;
      margin-bottom: 24px;
      font-size: 20px;
      font-family: $heavy-font;
    }

    .formSubTitle {
      font-size: 16px;
      margin: 0 5px;
      color: #ccc;


      &.phone {
        color: $primary-color
      }
    }

  }
}
